body {
    background: url(../img/background.jpg) no-repeat
    center center/cover;
    height: 600px;
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.main {
    color: white;
    text-align: center;
    padding-top: 550px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.index {
        width: 900px;
        height: 100px;
        border: 10px solid  #4E3A23;
        border-right-style: dashed;
        border-bottom-color: #4E3A23;
        border-left-style: dashed;   
        text-align: center;
        padding: 60px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        line-height: 1.1em;
   
}

.links {
    text-align: center;
    padding: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
     font-size: 25px;
    
}

li {
    display: inline;
    padding-right: 30px;  
 }

 ul a {
     text-decoration: none;
     color: #4E3A23;
 }

 ul a:hover {
     text-decoration: underline;
     color: whitesmoke;
 }

 .form {
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 60px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.1em; 
 }

/* media queries */
@media(max-width:768px){
    body {
        background: url(../img/background.png) no-repeat
        center center/cover;
        height: 600px;
        margin: auto;
        max-width: 550px;
        overflow: auto;
        padding: 0 3px;
    }

    .main {
        color: white;
        text-align: center;
        padding-top: 360px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }

    .index {
        width: 250px;
        height: 130px;
        border: 5px solid  #4E3A23;
        border-right-style: dashed;
        border-bottom-color: #4E3A23;
        border-left-style: dashed;   
        text-align: center;
        padding: 10px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 14.5px;
        line-height: 1.4em; 
}

.links {
    text-align: center;
    padding: 8px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
     font-size: 10px;
}

li {
    display: inline;
    padding-right: 2px;  
 }

 ul a {
     text-decoration: none;
     color: #4E3A23;
 }

 ul a:hover {
     text-decoration: underline;
     color: whitesmoke;
 }

 .form {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 5px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1.8em; 
 }


}